<div class="container">
    <div class="text-center margin-top-15">
        <h1>
            JS Encrypt Utility
        </h1>
    </div>

    <div class="margin-top-30">
        <input class="form-control" type="text" [(ngModel)]="valueToEncrypt"/>
        <button class="btn btn-primary btn-block margin-top-15" (click)="encrypt()" [disabled]="valueToEncrypt.length === 0">Encrypt</button>
    </div>

    <div class="margin-top-15">
        <p class="text-justify text-break-word">
            {{valueEncrypted}}
        </p>
    </div>


</div>